registry=https://registry.npmmirror.com/

fetch-retries=5
fetch-retry-mintimeout=20000
fetch-retry-maxtimeout=120000
network-concurrency=32
child-concurrency=8
prefer-offline=true

electron_mirror=https://npmmirror.com/mirrors/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
nodejs_org_mirror=https://npmmirror.com/mirrors/node/
