.terminalPane {
  width: auto;
  height: auto;
  min-height: 0;
  position: absolute;
  inset: 10px 0 5px 8px;
  background: var(--bg-page);
}

.active {
  display: block;
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
  z-index: 1;
}

.inactive {
  display: block;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  z-index: 0;
}
